.parentContainer {
    width: 100vw;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0rem 0rem;
}

.container {
	height: auto;
	min-height: 100vh;
    background-color:#EAEDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 144rem;
	width: clamp(36rem, 100vw, 144rem);
	min-width: 36rem;
	margin: 9rem 0rem 2rem 0rem;
    padding: 0rem 0rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.row {
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    max-width: 130rem;
	width: clamp(30rem, 90vw, 130rem);
	min-width: 30rem;
    margin: 4rem 0rem;
}

.leftColumn {
    place-items: center;
    justify-content: left;
    justify-self: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 110rem;
	width: clamp(30rem, 75vw, 110rem);
	min-width: 30rem;
    padding: 0rem 0rem 0rem 0rem;
}

.rightColumn {
    padding: 0rem 0rem;
    place-items: center;
    justify-content: center;
    text-align: center;
    max-width: 30rem;
	width: clamp(20rem, 20vw, 30rem);
	min-width: 20rem;
}

.title {
    place-items: center;
    justify-content: center;
    justify-self: left;
    text-align: left;
    margin: 0rem 3rem;
    font-size: 6rem;
    color:var(--dark-blue);
    background-color: var(--light-gray);
    height: 10rem;
    max-width: 100rem;
	width: clamp(30rem, 70vw, 100rem);
	min-width: 30rem;
}

.text {
    place-items: center;
    justify-content: center;
    justify-self: left;
    text-align: left;
    margin: 0rem 0rem;
    font-size: 1.9rem;
    max-width: 100rem;
	width: clamp(30rem, 70vw, 100rem);
	min-width: 30rem;
}

.logo1 {
    justify-content: center;
    text-align: center;
    place-items: center;
    height: 15rem;
    width: 15rem;
    margin: 0rem;
}

.title2 {
    place-items: center;
    justify-content: center;
    justify-self: left;
    text-align: left;
    margin: 0rem 3rem;
    font-size: 6rem;
    color:var(--dark-blue);
    background-color: var(--light-gray);
    height: 18rem;
    max-width: 100rem;
	width: clamp(30rem, 70vw, 100rem);
	min-width: 30rem;
}

.logo2 {
    justify-content: center;
    text-align: center;
    place-items: center;
    height: 20rem;
    width: 20rem;
    margin: 0rem;
}

.learnLink {
	color: var(--dark-blue);
	font-size: var(--subtitle);
	text-decoration: none;
	font-weight: 600;
	transition: 800ms ease all;
	outline: none;
	border: none;
	position: relative;
	padding: 0 0.5rem;
}

.learnLink:hover {
	background: var(--gray);
	color: var(--dark-gray);
}

.learnLink:before {
	content: "";
	position: absolute;
	top: -0.3rem;
	right: 0;
	height: 0.28rem;
	width: 0;
	background: var(--dark-gray);
	transition: 600ms ease all;
}
.learnLink:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0.1rem;
}
.learnLink:hover:before,
.learnLink:hover:after {
	width: 100%;
	transition: 600ms ease all;
}

.title3 {
    place-items: center;
    justify-content: center;
    justify-self: left;
    text-align: left;
    margin: 0rem 3rem;
    font-size: 6rem;
    color:var(--dark-blue);
    background-color: var(--light-gray);
    height: 26rem;
    max-width: 100rem;
	width: clamp(30rem, 70vw, 100rem);
	min-width: 30rem;
}

.logo3 {
    justify-content: center;
    text-align: center;
    place-items: center;
    height: 20rem;
    width: 20rem;
    margin: 0rem 0rem 0rem 0rem;
}

.title4 {
    place-items: center;
    justify-content: center;
    justify-self: left;
    text-align: left;
    margin: 0rem 3rem;
    font-size: 6rem;
    color:var(--dark-blue);
    background-color: var(--light-gray);
    height: 18rem;
    max-width: 100rem;
	width: clamp(30rem, 70vw, 100rem);
	min-width: 30rem;
}

.logo4 {
    justify-content: center;
    text-align: center;
    place-items: center;
    height: 40rem;
    width: 30rem;
    margin: 0rem 0rem 0rem 0rem;
}

@media screen and (max-width: 1024px) {
    
    .text {
        margin: 0rem 3rem;
        font-size: 1.9rem;
        width: 48rem;
    }
    
    .leftColumn {
        max-width: 70rem;
	    width: clamp(20rem, 75vw, 70rem);
	    min-width: 20rem;
    }
    
    .rightColumn {
        max-width: 20rem;
	    width: clamp(15rem, 20vw, 20rem);
	    min-width: 15rem;
    }
    
    .row {
        max-width: 100rem;
	    width: clamp(30rem, 90vw, 100rem);
	    min-width: 30rem;
    }

    .title {
        width: 48rem;
        font-size: 3rem;
        height: 5rem;
        font-weight: 600;
        justify-self: left;
        text-align: left;
        margin: 0rem;
        padding: 0rem;
    }
    
    .logo1 {
        height: 13rem;
        width: 13rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    
    
    .title2 {
        width: 48rem;
        font-size: 3rem;
        height: 10rem;
        font-weight: 600;
    }
    
    .logo2 {
        height: 14rem;
        width: 14rem;
        margin: 0rem 0rem 0rem 0rem;
    }
    
    
    .title3 {
        width: 48rem;
        font-size: 3rem;
        height: 13rem;
        font-weight: 600;
    }
    
    .logo3 {
        height: 18rem;
        width: 14rem;
        margin: 0rem 0rem 0rem 0rem;
    }

    .title4 {
        width: 48rem;
        font-size: 3rem;
        height: 13rem;
        font-weight: 600;
    }
    
    .logo4 {
        height: 18rem;
        width: 14rem;
        margin: 0rem 0rem 0rem 0rem;
    }

}

@media screen and (max-width: 575px) {
    .container {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        place-items: center;
        justify-self: center;
        justify-items: center;
    }

    .title {
        justify-content: left;
        text-align: center;
        width: 40rem;
        font-size: 2.5rem;
        height: 5rem;
        font-weight: 600;
    }
    
    .text {
        justify-content: center;
        text-align: justify;
        place-items: center;
        justify-self: center;
        justify-items: center;
        margin: 0rem 3rem;
        font-size: 1.9rem;
        width: 33rem;
    }

    .logo1 {
        height: 15rem;
        width: 15rem;
        margin: 4rem 0rem 0rem 0rem;
    }
    
    .leftColumn {
        justify-content: center;
        text-align: center;
        place-items: center;
        justify-self: center;
        justify-items: center;
        width: 45rem;
    }

    .rightColumn {
        justify-content: center;
        text-align: center;
        place-items: center;
        justify-self: center;
        justify-items: center;
        width: 20rem;
        height: 20rem;
    }
    
    .title2 {
        justify-content: left;
        place-items: center;
        justify-self: center;
        justify-items: center;
        text-align: justify;
        width: 33rem;
        font-size: 2.5rem;
        height: 8rem;
        font-weight: 600;
    }
    
    .logo2 {
        height: 18rem;
        width: 18rem;
        margin: 4rem 0rem 0rem 0rem;
    }
    
    .title3 {
        justify-content: left;
        place-items: center;
        justify-self: center;
        justify-items: center;
        text-align: justify;
        width: 33rem;
        font-size: 2.5rem;
        height: 16rem;
        font-weight: 600;
    }
    
    .logo3 {
        height: 18rem;
        width: 14rem;
        margin: 4rem 0rem 0rem 0rem;
    }

    .title4 {
        justify-content: left;
        place-items: center;
        justify-self: center;
        justify-items: center;
        text-align: justify;
        width: 33rem;
        font-size: 2.5rem;
        height: 12rem;
        font-weight: 600;
    }
    
    .logo4 {
        height: 22rem;
        width: 22rem;
        margin: 4rem 0rem 0rem 0rem;
    }
}
