.parentContainer {
    width: 100vw;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2rem 0rem;
}

.container {
    margin-top: 1rem;
    height: auto;
	min-height: 100vh;
    background-color:#EAEDEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 144rem;
    padding: 0rem 0rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.name {
    justify-self: center;
    text-align: center;
    font-size: clamp(4rem, 5rem, 6rem);
    color:var(--dark-blue);
    background-color: var(--light-gray);
    height: 10rem;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
	margin: 2rem 0rem 2rem 0rem;
    padding: 0rem;
}

.row1 {
    display: flex;
    padding: 0;
    justify-content: center;
    place-items: center;
    background-color: var(--cuaternary-dark-blue);
    height: 30rem;
    border-radius: 2rem;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
	margin: 0rem 0rem 2rem 0rem;
}

.row2 {
    display: flex;
    padding: 0;
    justify-content: center;
    place-items: center;
    background-color: var(--light-dark-gray);
    height: 30rem;
    border-radius: 2rem;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
	margin: 0rem 0rem 2rem 0rem;
}

.row3 {
    display: flex;
    padding: 0;
    justify-content: center;
    place-items: center;
    background-color: var(--light-purple);
    height: 30rem;
    border-radius: 2rem;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
	margin: 0rem 0rem 2rem 0rem;
}

.row4 {
    display: flex;
    padding: 0;
    justify-content: center;
    place-items: center;
    background-color: var(--light-green);
    height: 30rem;
    border-radius: 2rem;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
	margin: 0rem 0rem 2rem 0rem;
}

.leftColumn {
    place-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
	width: clamp(36rem, 60vw, 80rem);
	min-width: 36rem;
    margin: 0rem;
}

.rightColumn {
    margin: 5rem 2rem;
    place-items: center;
    justify-content: center;
    max-width: 60rem;
	width: clamp(30rem, 30vw, 60rem);
	min-width: 30rem;
}

.title1 {
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    margin: 0rem 0rem 2rem 0rem;
    font-weight: 800;
    color: var(--dark-blue);
}

.ul {
    list-style: none;
}

.li1 {
    margin: 0;
    height: 8rem;
    display: flex;
    align-items: center;
    border: 0.2rem solid transparent;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

.li1 a {
	color: var(--light-gray);
    background-color: var(--dark-blue);
    border-radius: 1rem;
    font-size: 4rem;
	text-decoration: none;
	transition: all 1s ease-in-out;
    padding: 1rem 8rem;
}

/* animacion */
.li1:hover {
	background-color: var(--light-gray);
    border: 0.2rem solid var(--dark-blue);
	transform: translateY(-1rem);
	color: var(--dark-blue);
    z-index: 1;
    height: 8rem;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.li1:hover > a {
    z-index: 1;
    background-color: transparent;
}

.li1 > a:hover  {
	color: var(--dark-blue);
    background-color: var(--light-gray);
}


.logo1 {
    justify-content: center;
    text-align: center;
    height: 20rem;
    width: 30rem;
}

.title2 {
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    margin: 0rem 0rem 2rem 0rem;
    color: var(--dark-gray);
}

.li2 {
    margin: 0;
    height: 8rem;
    display: flex;
    align-items: center;
    border: 0.2rem solid transparent;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

.li2 a {
	color: var(--light-gray);
    background-color: var(--dark-gray);
    border-radius: 1rem;
    font-size: 4rem;
	text-decoration: none;
	transition: all 1s ease-in-out;
	padding: 1rem 8rem;
}

/* animacion */
.li2:hover {
	background-color: var(--light-gray);
    border: 0.2rem solid var(--dark-gray);
	transform: translateY(-1rem);
	color: var(--dark-gray);
    z-index: 1;
    height: 8rem;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.li2 > a:hover  {
	color: var(--dark-gray);
    background-color: var(--light-gray);
}

.logo2 {
    justify-content: center;
    text-align: center;
    height: 20rem;
    width: 30rem;
}

.title3 {
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    margin: 0rem 0rem 2rem 0rem;
    font-weight: 800;
    color: var(--purple);
}

.li3 {
    margin: 3rem 0rem 0rem 0rem;
    height: 6rem;
    display: flex;
    align-items: center;
    border: 0.2rem solid transparent;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

.li3 a {
	color: var(--light-gray);
    background-color: var(--purple);
    border-radius: 1rem;
    font-size: 4rem;
	text-decoration: none;
	transition: all 1s ease-in-out;
	padding: 1rem 8rem;
}

/* animacion */
.li3:hover {
	background-color: var(--light-gray);
    border: 0.2rem solid var(--purple);
	transform: translateY(-1rem);
	color: var(--purple);
    z-index: 1;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.li3 > a:hover  {
	color: var(--purple);
    background-color: var(--light-gray);
}

.logo3 {
    justify-content: center;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem;
    height: 20rem;
    width: 30rem;
}

.textTemporal {
    justify-self: left;
    margin: 0.5rem 3rem 2rem 3rem;
    font-size: 1.9rem;
}

.learnLink {
    color: var(--purple);
    font-size: var(--subtitle);
    text-decoration: none;
    font-weight: 600;
    transition:800ms ease all;
    outline:none;
    border:none;
    position:relative;
    padding: 0 0.5rem;
}

.learnLink:hover{
  background:#8c6abb22;
  color:var(--purple);
}

.learnLink:before{
  content:'';
  position:absolute;
  top:-0.3rem;
  right:0;
  height:0.28rem;
  width:0;
  background: var(--purple);
  transition:600ms ease all;
}
.learnLink:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0.1rem;
}
.learnLink:hover:before,.learnLink:hover:after{
  width:100%;
  transition:600ms ease all;
}

.title4 {
    justify-self: center;
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    margin: 0rem 0rem 2rem 0rem;
    color: var(--dark-green);
}

.li4 {
    margin: 3rem 0rem 0rem 0rem;
    height: 6rem;
    display: flex;
    align-items: center;
    border: 0.2rem solid transparent;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

.li4 a {
	color: var(--light-gray);
    background-color: var(--purple);
    border-radius: 1rem;
    font-size: 4rem;
	text-decoration: none;
	transition: all 1s ease-in-out;
	padding: 1rem 8rem;
}

/* animacion */
.li4:hover {
	background-color: var(--light-gray);
    border: 0.2rem solid var(--purple);
	transform: translateY(-1rem);
	color: var(--purple);
    z-index: 1;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.li4 > a:hover  {
	color: var(--purple);
    background-color: var(--light-gray);
}

.logo4 {
    justify-content: center;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem;
    height: 20rem;
    width: 30rem;
}

.learnLink2 {
    color: var(--dark-green);
    font-size: var(--subtitle);
    text-decoration: none;
    font-weight: 600;
    transition:800ms ease all;
    outline:none;
    border:none;
    position:relative;
    padding: 0 0.5rem;
}

.learnLink2:hover{
  background:#47624222;
  color:var(--dark-green);
}

.learnLink2:before{
  content:'';
  position:absolute;
  top:-0.3rem;
  right:0;
  height:0.28rem;
  width:0;
  background: var(--dark-green);
  transition:600ms ease all;
}
.learnLink2:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0.1rem;
}
.learnLink2:hover:before,.learnLink:hover:after{
  width:100%;
  transition:600ms ease all;
}

.name2 {
    justify-self: left;
    text-align: left;
    margin: 2rem 0rem 0rem 0rem;
    font-size: 5rem;
    color:var(--dark-blue);
    height: 8rem;
}

.text {
    text-align: left;
    justify-content: left;
    justify-items: left;
    place-items: left;
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-size: 2.5rem;
}

.buttonText {
    text-decoration: none;
    color: var(--light-gray);
    padding: 2rem 0rem;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 144rem;
	width: clamp(36rem, 90vw, 144rem);
	min-width: 36rem;
}

.download {
    text-align: center;
    font-weight: 600;
    font-size: var(--title);
    margin: 0.5rem 0rem;
    height: 7rem;
    width: 45rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    border-color: var(--dark-blue);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.download span {
    color: var(--light-gray);
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
}

.download span a {
    color: var(--light-gray);
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
}

.download:hover span {
    color: var(--dark-blue);
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
}

.download:hover span a {
    color: var(--dark-blue);
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
}

.download:hover::before {
    transform: scaleY(0);
}

.download:hover::after {
    transform: scaleX(0);
}

.download:hover {
    transition: all 0.5s ease-in-out;
    animation: pulse 2s ease-in-out infinite;
    box-shadow: 0 0 0 10rem var(--gray);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 61, 100, 0.2);
    }
    50% {
        box-shadow: 0 0 2rem 1rem rgba(0, 61, 100, 0.2);  /* Resplandor suave */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 61, 100, 0.2);  /* Vuelve al estado original */
    }
}

.download::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.download::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.license {
    color:black;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .name {
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        height: 8rem;
        margin: 2rem 0rem 0rem 0rem;
        font-size: var(--header);
    }

    .leftColumn {
        max-width: 40rem;
        width: clamp(20rem, 50vw, 40rem);
        min-width: 20rem;
        margin: 0rem;
    }

    .rightColumn {
        max-width: 25rem;
        width: clamp(15rem, 40vw, 25rem);
        min-width: 15rem;
    }

    .row1 {
        margin: 0rem 0rem 2rem 0rem;
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        height: 25rem;
    }

    .li1, .li2 {
        height: 6.5rem;
        padding: 0.5rem 4rem;
        max-width: 50rem;
        width: clamp(20rem, 38rem, 50rem);
        min-width: 20rem;
    }

    .li1 a, .li2 a {
        border-radius: 1rem;
        font-size: 3.3rem;
        max-width: 50rem;
        width: clamp(20rem, 38rem, 50rem);
        min-width: 20rem;
    }

    .li1:hover, .li2:hover {
        height: 6rem;
    }

    .logo1 {
        height: 16rem;
        width: 24rem;
    }

    .row2 {
        margin: 0rem 0rem 2rem 0rem;
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        height: 25rem;
    }


    .logo2 {
        height: 16rem;
        width: 24rem;
    }

    .row3 {
        margin: 0rem 0rem 2rem 0rem;
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        height: 25rem;
    }

    .textTemporal {
        width:35rem;
    }

    .logo3 {
        margin: 0rem 0rem 0rem -2rem;
        height: 16rem;
        width: 24rem;
    }

    .row4 {
        margin: 0rem 0rem 2rem 0rem;
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        height: 25rem;
    }

    .logo4 {
        margin: 0rem 0rem 0rem -2rem;
        height: 16rem;
        width: 24rem;
    }

    .info {
        margin: 2rem 0rem 0rem 0rem;
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
    }

    .name2 {
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        justify-self: center;
        margin: 0rem 0rem 4rem 0rem;
        font-size: var(--header);
        height: 6rem;
    }

    .text {
        max-width: 75rem;
	    width: clamp(30rem, 90vw, 75rem);
	    min-width: 30rem;
        text-align: justify;
        margin: 0rem 0rem 2rem 0rem;
        font-size: 2.5rem;
    }

    .license {
        justify-self: left;
        color:black;
        font-weight: 600;
    }

}

@media screen and (max-width: 575px) {

    .name {
        width: 35rem;
        font-size: var(--title);
        margin: 1rem 0rem;
    }

    .leftColumn {
        margin: 1rem 0rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .rightColumn {
        place-items: center;
        justify-content: center;
        margin: 0rem 0rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .row1 {
        flex-direction: column;
        margin:0rem 0rem 2rem 0rem;
        height: 40rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .title1 {
        font-size: 6rem;
        font-weight: 800;
        color: var(--dark-blue);
    }

    .li1 {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }

    .li1:hover, .li2:hover {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }
    
    .li1 a {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }

    .logo1 {
        margin: 2rem 0rem 0rem 0rem;
        height: 16rem;
        width: 24rem;
    }

    .row2 {
        flex-direction: column;
        margin:0rem 0rem 2rem 0rem;
        height: 40rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .download2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr; 
        gap: 0rem;
        margin: 0rem 1rem 0rem 1rem;
        padding: 0;
    }

    .title2 {
        font-size: 6rem;
        font-weight: 800;
        color: var(--dark-gray);
    }

    .li2 {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }
    
    .li2 a {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }

    .logo2 {
        margin: 2rem 0rem 0rem 0rem;
        height: 16rem;
        width: 24rem;
    }

    .row3 {
        flex-direction: column;
        margin:0rem 0rem 2rem 0rem;
        height: 50rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .title3 {
        font-size: 6rem;
        font-weight: 800;
        color: var(--purple);
    }

    .li3 {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }
    
    .li3 a {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }

    .logo3 {
        margin: 2rem 0rem 0rem 0rem;
        height: 16rem;
        width: 24rem;
    }

    .textTemporal {
        width:33rem;
    }

    .row4 {
        flex-direction: column;
        margin:0rem 0rem 2rem 0rem;
        height: 50rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .title4 {
        font-size: 6rem;
        font-weight: 800;
        color: var(--dark-green);
    }

    .li4 {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }
    
    .li4 a {
        margin: 0;
        height: 5rem;
        font-size: var(--subtitle);
    }

    .logo4 {
        margin: 2rem 0rem 0rem 0rem;
        height: 16rem;
        width: 24rem;
    }

    .info {
        margin: 2rem 0rem 0rem 0rem;
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .name2 {
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
        margin: 0rem 0rem 2rem 0rem;
        font-size: var(--subtitle);
        height: 3rem;
    }

    .text {
        text-align: justify;
        margin: 1rem 0rem 1rem 0rem;
        font-size: var(--body-text);
        max-width: 37rem;
	    width: clamp(30rem, 90vw, 37rem);
	    min-width: 30rem;
    }

    .buttonText {
        font-size: var(--details);
    }
    
    .download {
        text-align: center;
        font-weight: 600;
        font-size: var(--title);
        margin: 1rem 0rem 1rem 0rem;
        height: 7rem;
        width: 30rem;
        border-radius: 1rem;
        cursor: pointer;
        position: relative;
        border-color: var(--dark-blue);
        transition: all 0.5s ease-in-out;
        overflow: hidden;
    }

    .license {
        justify-self: left;
        color:black;
        font-weight: 600;
        font-size: var(--body-text);
    }
}