.main_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--light-gray);
}

/* ----------menu seccion-------------- */
.blue {
	background-color: var(--secundary-dark-blue);
}
.light_blue {
	background-color: var(--terciary-dark-blue);
}
.temario {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 20%;
	position: sticky;
	top: 100px;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
	max-width: 38.4rem;
	.title_container {
		background-color: var(--dark-blue);
		min-height: 7.4rem;
		display: flex;
		align-items: center;
		padding-left: 2rem;
		.title {
			justify-self: center;
			align-self: center;
			font-size: 3.2rem;
			color: white;
		}
	}
	.seccion_container {
		padding: 1rem 0 2rem 2rem;
		font-size: 1.6rem;

		.tema_container {
			margin-bottom: 2rem;
		}
		> .tema_container > .tema {
			font-size: 1.6rem;
			font-weight: 300;
			padding-top: 1rem;
		}
		.seccion_subtemas_container {
			list-style: none;
			padding-left: 2rem;
			li {
				margin: 1rem 0;
			}
			> li > a > span {
				font-size: 1.6rem;
				font-weight: 300;
				padding-top: 1rem;
			}
		}
		a {
			color: white;
		}
	}
}

.seccion_last {
	height: 100%;
}

/* ----------documentacion seccion---------- */
.contenido {
	max-width: 153.6rem;
	min-height: 200vh;
	width: 80%;
	background-color: var(--light-gray);
	padding: 2rem;
	.header_title {
		text-align: center;
		font-size: 3.2rem;
		color: var(--dark-blue);
	}
	.topic {
		font-size: 2.6rem;
		color: var(--dark-blue);
		text-decoration: underline;
		margin: 6rem 0 2rem;
	}
	.texto {
		text-overflow: clip;
		text-align: justify;
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	.viñetas {
		padding-left: 4rem;
		list-style-type: square;
	}
}
