.container {
    background-color:#EAEDEF;
    height: calc(100vh - 12rem - 2.8rem);
    display: grid;
    grid-template-columns: 1fr 2.4fr; 
    gap: 0px;
    margin: 0;
    padding: 0;
}

.column {
    padding: 4rem;
    margin: 2rem 6rem;
    justify-content: center;
    place-items: center;
}

.name {
    justify-self: start;
    margin: 0rem 3rem;
    font-size: 10rem;
    color:var(--dark-blue);
}

.title {
    justify-self: start;
    margin: -1.5rem 3rem 4rem 3rem;
    font-size: 2.5rem;
}

.description {
    justify-self: start;
    margin: 0.5rem 3rem 0rem 3rem;
    font-size: var(--body-text);
}

.download {
    text-align: center;
    margin: 4rem 3rem 0rem 3rem;
    padding: 1rem 12rem;
    background-color: var(--dark-blue);
    color: var(--light-gray);
    border-radius: 1rem;
}

.download:hover {
    cursor: pointer;
}

.video {
    margin: 2rem 0rem;
    height: 39rem;
    width: 60rem;
    border: 0.1rem solid var(--gray);
    background-color: var(--gray);
    border-radius: 3rem;
}

.learn {
    justify-self: center;
    margin: 0.5rem 3rem 0rem 3rem;
    font-size: var(--body-text);
}

.learnLink {
    color: var(--dark-blue);
    font-size: var(--subtitle);
    text-decoration: none;
    font-weight: 600;
}

.footer {
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 4fr 1fr; /* Dos columnas del mismo tamaño */
    gap: 2fr; /* Espacio entre las columnas */
}

.footerColumnLeft {
    justify-content: left;
    margin: 0.5rem 1rem;
    font-size: var(--details);
}

.footerInfo {
    padding: 0;
    margin: 0;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 3fr 1fr; /* Dos columnas del mismo tamaño */
    gap: 0; /* Espacio entre las columnas */
}

.footerColumnRight {
    justify-content: end;
    margin: 0.5rem 1rem;
    font-size: var(--details);
}

.footerImage {
    margin: 0;
    padding: 0;
    height: 1.3rem;
    width: 1.3rem;
}